[Desktop Entry]
Type=Application
Name=Start ERP
Comment=Start the ERP
Exec=/opt/faheem-erp/current/bin/faheem-admin start
Icon=/opt/faheem-erp/current/kiosk/icon.png
Terminal=false
Categories=Office;Finance;
